*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #E5E5E5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

button{
  cursor: pointer;
}
