.mainContent{
  padding: 16px 60px;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (max-width: 900px)
{
  .mainContent
   {
    padding: 16px;
    height: auto;
   }
}
